/* font face */
@font-face {
    font-family: 'salvo';
    src: url('http://cdn.iwillteachyoutoberich.com/wp-content/themes/iwt/custom/css/fonts/SalvoSansLight.eot');
    src: url('http://cdn.iwillteachyoutoberich.com/wp-content/themes/iwt/custom/css/fonts/SalvoSansLight.eot?#iefix') format('embedded-opentype'),
         url('http://cdn.iwillteachyoutoberich.com/wp-content/themes/iwt/custom/css/fonts/SalvoSansLight.woff') format('woff'),
         url('http://cdn.iwillteachyoutoberich.com/wp-content/themes/iwt/custom/css/fonts/SalvoSansLight.ttf') format('truetype'),
         url('http://cdn.iwillteachyoutoberich.com/wp-content/themes/iwt/custom/css/fonts/SalvoSansLight.svg#salvo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'salvo';
    src: url('http://cdn.iwillteachyoutoberich.com/wp-content/themes/iwt/custom/css/fonts/SalvoSansLightItalic.eot');
    src: url('http://cdn.iwillteachyoutoberich.com/wp-content/themes/iwt/custom/css/fonts/SalvoSansLightItalic.eot?#iefix') format('embedded-opentype'),
         url('http://cdn.iwillteachyoutoberich.com/wp-content/themes/iwt/custom/css/fonts/SalvoSansLightItalic.woff') format('woff'),
         url('http://cdn.iwillteachyoutoberich.com/wp-content/themes/iwt/custom/css/fonts/SalvoSansLightItalic.ttf') format('truetype'),
         url('http://cdn.iwillteachyoutoberich.com/wp-content/themes/iwt/custom/css/fonts/SalvoSansLightItalic.svg#salvo') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'salvo';
    src: url('http://cdn.iwillteachyoutoberich.com/wp-content/themes/iwt/custom/css/fonts/SalvoSansBold.eot');
    src: url('http://cdn.iwillteachyoutoberich.com/wp-content/themes/iwt/custom/css/fonts/SalvoSansBold.eot?#iefix') format('embedded-opentype'),
         url('http://cdn.iwillteachyoutoberich.com/wp-content/themes/iwt/custom/css/fonts/SalvoSansBold.woff') format('woff'),
         url('http://cdn.iwillteachyoutoberich.com/wp-content/themes/iwt/custom/css/fonts/SalvoSansBold.ttf') format('truetype'),
         url('http://cdn.iwillteachyoutoberich.com/wp-content/themes/iwt/custom/css/fonts/SalvoSansBold.svg#salvo') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'salvo';
    src: url('http://cdn.iwillteachyoutoberich.com/wp-content/themes/iwt/custom/css/fonts/SalvoSansBoldItalic.eot');
    src: url('http://cdn.iwillteachyoutoberich.com/wp-content/themes/iwt/custom/css/fonts/SalvoSansBoldItalic.eot?#iefix') format('embedded-opentype'),
         url('http://cdn.iwillteachyoutoberich.com/wp-content/themes/iwt/custom/css/fonts/SalvoSansBoldItalic.woff') format('woff'),
         url('http://cdn.iwillteachyoutoberich.com/wp-content/themes/iwt/custom/css/fonts/SalvoSansBoldItalic.ttf') format('truetype'),
         url('http://cdn.iwillteachyoutoberich.com/wp-content/themes/iwt/custom/css/fonts/SalvoSansBoldItalic.svg#salvo') format('svg');
    font-weight: bold;
    font-style: italic;
}

/* -----------------------------------------
  Navigation
----------------------------------------- */
.navigation {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  width: 100px;
  height: 100%;
  background: rgba(3,0,0,0.85);
  overflow: hidden;
  -webkit-transition: all .30s ease-in-out;
  -moz-transition: all .30s ease-in-out;
  -o-transition: all .30s ease-in-out;
  -ms-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
}

.navigation:hover {
  width: 800px;
}

.navigation .background {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100px;
  height: 100%;
  background: #030000;
  background: rgba(3,0,0,0.95);
  box-shadow: 0 0 25px rgba(0,0,0,0.65);
}

.navigation ul {
}

.navigation ul.menu {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation ul.menu li {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid rgba(0,0,0,0.20);
  -webkit-transition: background .18s ease-in;
  -moz-transition: background .18s ease-in;
  -o-transition: background .18s ease-in;
  -ms-transition: background .18s ease-in;
  transition: background .18s ease-in;
  margin-bottom: 0px;
  line-height: 1.05;
}

.navigation ul.menu li:hover {
  background: rgba(49, 177, 227, 0.95);
}

.navigation ul.menu li.selected {
  background: rgba(49, 177, 227, 0.95);
}

.navigation ul.menu li.selected .part {
  background: rgba(49, 177, 227, 1);
  color: rgba(0,0,0,0.35);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.20);
}

.navigation ul.menu li .part {
  position: relative;
  display: block;
  float: left;
  width: 100px;
  text-align: center;
  font-family: 'Marvel','Helvetica Neue',Helvetica,Arial;
  font-size: 45px;
  border-top: 1px solid rgba(255,255,255,0.04);
  padding: 9px;
}

.navigation ul.menu li:last-child {
  border-bottom: 0;
}

.navigation ul.menu.top li:last-child {
  border-bottom: 1px solid rgba(2,16,25,0.35);
}

.navigation ul.menu.mobile-top li:last-child {
  border-bottom: 1px solid rgba(2,16,25,0.35);
}

.navigation ul.menu li .title {
  position: absolute;
  top: 0;
  left: 100px;
  float: left;
  width: 700px;
  padding: 0 20px;
  box-sizing: border-box;
  opacity: 0;
  -webkit-transition: all .30s .25s ease-in-out;
  -moz-transition: all .30s .25s ease-in-out;
  -o-transition: all .30s .25s ease-in-out;
  -ms-transition: all .30s .25s ease-in-out;
  transition: all .30s .25s ease-in-out;
}

.navigation:hover > ul.menu li .title {
  opacity: 1.0;
}

.navigation ul.menu li .title h3 {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  margin: 10px 0 0 0;
  padding: 0;
  opacity: 0.50;
}

.navigation ul.menu li .title h4 {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial;
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

.navigation ul.menu li a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.navigation ul.menu li .clear {
  display: block;
  clear: both;
  width: 100%;
  height: 0;
  font-size: 0px;
  border: 0;
  outline: 0;
}

.navigation ul.menu.bottom {
  position: absolute;
  bottom: 0;
}

.navigation ul.menu.bottom li .part {
  font-size: 0;
  border: 0;
}

.navigation ul.menu.bottom li .title h3 {
  margin: 33px 0 5px 0;
}

.navigation ul.menu.top {
}

.navigation ul.menu.top li {
  background: rgba(3,0,0,0.75);
}

.navigation ul.menu.top li:hover {
  background: rgba(0,0,0,0.85);
}

.navigation ul.menu.top li .part {
  font-size: 0;
  border: 0;
}

.navigation ul.menu.top li .title h3 {
  margin: 25px 0 0 0;
  color: rgba(255,255,255,0.85);
  font-family: 'salvo','Helvetica Neue',Helvetica,Arial;
  font-size: 14px;
  font-weight: 300;
  font-weight: bold;
}

.navigation ul.menu.top li .title h4 {
  margin: 0 0 0 0;
}

.navigation .shopify {
  position: absolute;
  bottom: 0;
  left: 0;
}

.navigation ul.menu li.fade {
  opacity: 0.25;
}

.navigation a {
  color: #CCC;
}

.navigation a:hover {
  color: #FFF;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.20);
}

.navigation ul.menu li:hover > a .title h3 {
  color: rgba(0,0,0,0.80);
  text-shadow: none;
}

.navigation ul.menu li:hover > a .part {
  color: rgba(0,0,0,0.35);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.20);
}

.navigation ul.menu li:hover > a .title h4 {
  color: rgba(0,0,0,0.60);
  text-shadow: none;
}

.navigation ul.menu.top li:hover > a .title h3 {
  color: rgba(255,255,255,0.85);
}

.navigation ul.menu ol.submenu {
  position: relative;
  display: block;
  height: inherit;
  width: 100%;
  padding: 0 0 20px 110px;
  margin: 0;
}

.navigation ul.menu ol.submenu.hide {
  height: 0;
  padding: 0;
  display: none;
  -webkit-transition: height .25s ease-in-out;
  -moz-transition: height .25s ease-in-out;
  -o-transition: height .25s ease-in-out;
  -ms-transition: height .25s ease-in-out;
  transition: height .25s ease-in-out;
}

.navigation ul.menu ol.submenu.show.hide {
  height: 0;
  padding: 0;
  display: none;
  -webkit-transition: height .25s ease-in-out;
  -moz-transition: height .25s ease-in-out;
  -o-transition: height .25s ease-in-out;
  -ms-transition: height .25s ease-in-out;
  transition: height .25s ease-in-out;
}

.navigation ul.menu ol.submenu.show {
  height: inherit;
  padding: 0 0 20px 110px;
  display: block;
}

.navigation:not(:hover) ul.menu ol.submenu {
  height: 0;
  padding: 0;
  display: none;
}

.navigation ul.menu ol.submenu li {
  border: 0;
  padding: 5px 0 5px 10px;
  float: none;
  max-height: 32px;
  overflow: hidden;
}

.navigation ul.menu ol.submenu li:last-child {
}

.navigation ul.menu ol.submenu li a {
  text-decoration: none;
  text-shadow: none;
}

.navigation ul.menu li:hover > ol.submenu li:hover {
  background: rgba(0,0,0,0.10);
}

.navigation ul.menu li:hover > ol.submenu li a {
  color: rgba(0,0,0,0.80);
}

.navigation ul.menu.mobile-top {
  display: none;
}

.navigation ul.menu.mobile-top .burger {
  display: inline-block;
  float: right;
  border: 0;
  outline: 0;
  width: 24px;
  height: 24px;
  margin: 13px;
  opacity: 0.50;
}

.navigation.closed ul.menu.mobile-top .burger {
  background: transparent url(assets/img/ico-hamburger.png) 0 0 no-repeat;
}

.navigation.opened ul.menu.mobile-top .burger {
  background: transparent url(assets/img/ico-close.png) 0 0 no-repeat;
}

.navigation h1, .navigation h2, .navigation h3, .navigation h4 {
  color: #FFF;
}


/* -----------------------------------------
  Reading
----------------------------------------- */
body {
  font-family: 'Crimson Text', Georgia, serif;
  overflow-x: hidden;
  background-color: #fff;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  background-color: #ebecee;
  border-radius: 3px;
  box-shadow: none;
  color: #4e5459;
  font-family: "salvo","Helvetica Neue",Helvetica,Arial,sans-serif;
  height: auto;
  padding: 0.65rem; 
}

input.name {
  background: #ebecee url("assets/img/name.png") no-repeat scroll right center;
}

input.email {
  background: #ebecee url("assets/img/email.png") no-repeat scroll right center;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #747d84;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #747d84;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #747d84;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #747d84;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: #747d84;
}

.container a {
  color: #118eee;
}

.chapter {
  width: 100%;
  padding: 0 0 0 100px;
}

h1, h2, h3, h4, h5 {
  font-family: 'salvo', 'Helvetica Neue', Helvetica, Arial,sans-serif;
  font-weight: bold;
}

.chapter h1 {
  font-size: 40px;
}

.chapter h1 span {
  font-size: 41px;
}

.chapter h2 {
  font-size: 30px;
}

.chapter h3 {
  font-size: 32px;
  line-height: 45px;
  margin-bottom: 30px;
  font-weight: 700;
}

.chapter h4 {
  font-size: 24px;
}

.intro h4 {
  line-height: 60px;
}

.chapter h4.cover {
  color: #838689;
  line-height: 35px;
}

h4.subheadline {
  margin-top: -1em;
  font-size: 26px;
  line-height: 40px;
  font-weight: normal;
} 

.chapter p,
.chapter ul {
  font-size: 27px;
  line-height: 1.6;
  margin-bottom: 2.25rem;
  color: #333132;
}

.chapter ul {
  margin-left: 3rem;
}

.chapter ul li:before {
  color: #31aee3;
  content: "";
  font-style: normal;
  font-size: 1.25em;
  left: -5%;
  position: absolute;
}

.chapter ul.none li:before {
  display: none !important;
}

.chapter ul li {
  line-height: 36px;
  margin-bottom: 1rem;
  position: relative;  
  list-style: none;
}

.chapter ul.spaced li {
  margin-top: 3rem;
}

.chapter ul.two-columns li {
  margin-bottom: 3rem;
}

.intro-shadow {
  box-shadow: 0px 3px 14.25px 0.75px rgba(51, 49, 50, 0.15);
}

.border-box {
  border: 1px solid #e2e4e6;
  border-radius: 2px;
}

.intro.border-box {
  background: #fff;
  padding-bottom: 0 !important;
  position:relative;
}


.light-blue-shadow {
  box-shadow: 0px 3px 14.25px 0.75px rgba(30, 77, 155, 0.5);
}

hr {
  width: 40%;
  margin: 2.5rem auto;
  border-color: #999;
}

.white hr.special, hr.special {
  margin: 6em auto;
  width: 80%;
  border: 2px solid #e1e1e1;
  background: transparent url('assets/img/hr-special.png') no-repeat scroll center center;
}

hr.special:after { 
    background: url('assets/img/hr-special.png') no-repeat center center;
    content: "";
    display: block;
    height: 40px; /* height of the ornament */
    position: relative;
    top: -20px; /* half the height of the ornament */
}

hr.bold, .white hr.bold {
  border: 2px solid #333132;
  width: 30%;
  margin-top: 3rem;
}

.intro hr, .white.intro hr {
  border: 3px solid #2d3134;
  margin: 2.6rem auto 2rem;
}

mark {
  color: #ffd401;
  background: none;
}

mark.wrong {
  color: #c71300;
}

mark.correct {
  color: #7db50d;
}

.container a.button {
  border-radius: 5px;
  background: #31aee3;
  color: #fff;
  font-weight: normal;
}

button.extra, .button.extra {
  padding: 1.125rem 4.25rem 1.1875rem;
}

.container a.button.secondary {
  background: #ccc;
  color: #111;
}

.container a.button:hover {
  background: #161616;
  color: #FFF;
}

.container a.button.alert {
  background: #ed0691;
  color: #FFF;
}

.nav a.button {
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
}

.nav a.button small {
  display: block;
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
}

.nav .next a.button {
  padding-right: 3em;
  padding-left: 1em;
  text-align: right;
}

.nav .next a.button:after {
  font-family: 'FontAwesome';
  content: '\f138';
  font-size: 2rem;
  display: block;
  position: absolute;
  right: 0.6em;
  top: 0.7em;
}

.nav .previous a.button {
  padding-left: 3em;
  padding-right: 1em;
  text-align: left;
}

.nav .previous a.button:after {
  font-family: 'FontAwesome';
  content: '\f137';
  font-size: 2rem;
  display: block;
  position: absolute;
  left: 0.6em;
  top: 0.7em;
}

img.cover {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto 6em;
}

.row, .row .row, .container .container {
  padding-bottom: 2.5rem;
}

.extra-space {
  margin-top: 3em;
}

.container {
  padding: 6rem 0 3rem 0;
}

.container.intro {
  padding: 4.125rem 0 4rem 0;
}

.container.remark {
  padding: 7rem 0 4rem;
}

.container.remark h4 {
  color: #fff;
  font-size: 1.25em;
  font-weight: normal;
  line-height: 1.5;
  margin: 1.05rem 0;
}

.chapter p.remark-text-left {
  color: #31aee3;
  float: left;
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 0;
  margin-left: -3em;
  margin-right: 0.5em;
  padding-right: 0.5em;
  position: relative;
  width: 40%;
}

.nav.container.white {
  border: none;
}

.dark {
  background: #333132;
}

.gray .dark p, .gray .dark ul {
  color: #aaaaaa;
}

.dark p, .dark ul {
  color: #f5f5f5;
}

.dark h1, .dark h2, .dark h3, .gray .dark h1, .gray .dark h2, .gray .dark h3 {
  color: #f1f1f1;
}

.dark h4 {
  color: #7d7d7d;
}

.dark h4 span {
  color: #ffd401;
}

.dark hr {
  border-color: #636363;
}

.dark strong {
  color: #FFF;
}

.dark .white strong {
  color: #111;
}

.dark .yellow p, .dark .yellow li, .dark .yellow h4 {
  color: #111;
}

.light-blue {
  background: #3E82F7;
}

.light-blue {
  padding: 2.5rem 3.125rem 1.25rem 3.125em;
}

.light-blue p, .light-blue ul, .gray .light-blue p, .gray .light-blue ul {
  color: #fff;
}

.light-blue h1, .light-blue h2, .light-blue h3, .gray .light-blue h1, .gray .light-blue h2, .gray .light-blue h3 {
  color: #f1f1f1;
}

.intro .light-blue h4 {
  color: #fff;
}

.light-blue h4 {
  color: #222;
}

.light-blue h4 span {
  color: #ffd401;
}

.light-blue hr {
  border-color: #fff;
}

.light-blue strong {
  color: #FFF;
}

.light-blue .white strong {
  color: #111;
}

.light-blue .white p {
  color: #111;
}

.light-blue .yellow p, .light-blue .yellow li, .light-blue .yellow h4 {
  color: #111;
}

.ramit {
  background: #f8fbfc;
}
.ramit .row {
  padding-bottom: 0;
  margin-bottom: 0;
}
.ramit h3 {
  margin-bottom: 0.5em;
}
.ramit.container {
  padding: 0;
}
.ramit .right {
  margin-top: 4em;
}
.ramit p {
  font-family: 'salvo', 'Helvetica Neue', Helvetica, Arial,sans-serif;
  font-size: 1.25em;
}

.intro h1 span {
  line-height: 1.9em;
  color: #31aee3;
}

.contents .white.box {
  padding: 1.5rem;
}

.contents .white.box img {
  margin-bottom: 1rem;
}

.book.rounded,
.box.rounded {
  border-radius: 5px;
}

.contents .white.box .button {
  position: absolute;
  width: 15rem;
  bottom: -2.5rem;
  left: 50%;
  margin-left: -7.5rem
}

.contents .white h4 {
  color: #333132;
}

#part-4 {
  margin-left: -3rem;
}

.illustrated { 
  background: #f7f7f7 url("../../assets/img/hero-01.png") no-repeat scroll 47.5% top;
  background-size: cover;
}

#intro-hero {
  visibility: hidden;
}

.gray {
  background: #efeff1;
}

.lightgray {
  background: #f8f8f8;
}

.gray p, .gray ul {
  color: #111111;
}

.gray h1, .gray h2, .gray h4 {
  color: #333132;
}

.gray h3 {
  color: #565656;
}

.gray h2 span {
  color: #ffd401;
}

.gray h4 {
  color: #7d7d7d;
}

.gray h4 span {
  color: #ffd401;
}

.gray .box {
  border: 0.08rem solid #ccc;
}

.gray hr {
  border-color: #ccc;
}

.gray blockquote {
  border-left: 2px solid #ccc;
  background: #FFF;
  font-style: italic;
  padding-bottom: 0.5625rem;
}

.gray mark {
  color: #4d90fe;
  background: none;
}

.white {
  background: #FFFFFF;
}

.separated {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.white p, .white ul, .dark .white p, .dark .white ul {
  color: #111111;
}

.white h1, .white h2, .white h4, .dark .white h1, .dark .white h2, .dark .white h4 {
  color: #333132;
}

.white h3 {
  color: #333132;
}

.white h2 span {
  color: #ffd401;
}

.white h4 {
  color: #333132;
}

.white h4 span {
  color: #ffd401;
}

.white hr {
  border-color: #aaa;
}

/*.white .box {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
}*/

.white.gray.box {
  background-color: #ebecee;
}

img.hero {
  max-width: 70%;
  position: relative;
  /*top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);*/
}

#part3-hero {
  margin-top: 4.5em;
}
#part4-hero, #part5-hero {
  margin-top: 2.5em;
}
#part6-hero {
  margin-top: 3.5em;
}
#part7-hero {
  margin-top: 4.5em;
}

.white.box {
  padding: 3.5em;
}

.white.box h4 {
  color: #333132;
  margin-bottom: 2rem;
}

.white.box h4.big {
  font-size: 27px;
  line-height: 1.4;
}

.sections .white.box p {
  font-family: 'salvo','Helvetica Neue',Helvetica,Arial;
  font-size: 20px;
}

.sections .button {
  font-family: 'salvo','Helvetica Neue',Helvetica,Arial;
  font-weight: bold;
}
  

.intro .white.box {
  padding: 2.5em;
}

.white.box p:nth-last-child(1) {
  margin: 0;
}

li.white.box, .dark .white.box {
  padding: 0;
}

.dark .intro .white.box {
  padding: 1.5em;
}

.gray hr {
  border-color: #ccc;
}

.white .dark hr, .gray .dark hr {
  border-color: #636363;
}

.white {
/*  padding-top: 2.5rem;
  padding-bottom: 1.25rem;*/
}

.white mark {
  color: #4d90fe;
  background: none;
}

.white.style-1 {
  background: url('../../assets/img/white-background-1.jpg') left center no-repeat #fff;
}

.blue {
  background: #00abf1;
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
}

.blue.style-1 {
  background: url('../../assets/img/blue-background-1.png') left center no-repeat #0093e9;
}

.blue p, .blue ul, .blue h1, .blue h2, .blue h3, .blue h4 {
  color: #fff;
}

.blue a {
  color: #ffd401;
}

.blue .screenshot {
  margin-top: -200px;
}

.large-5 .blue {
  padding: 2em;
}

.blue h2 span {
  color: #ffd401;
}

.blue ul li {
  margin-bottom: 1.5em;
}

.yellow {
  background: #ffd600;
}

.yellow {
/*  padding: 2.5rem 3.125rem 1.25rem 3.125em; */
}

.yellow h4 {
  margin-bottom: 0.869em;
  color: #333132;
}

.yellow h3 {
  color: #333132;
}

.yellow hr {
  border-color: #636363;
}

.yellow a {
  color: #3068CF;
}

.container.yellow img.cutout {
  border: 20px solid #ffd600;
}

.container.white img.cutout {
  border: 18px solid #fff;
}

.container.white img.cutout2 {
  border: 12px solid #e5e5e5;
  padding: 12px;
}

img.pin {
  display: block;
  margin: 0 auto;
  background-color: #fff;
}

img.pin.fix {
  padding-top:3px;
}

img.rounded {
  border-radius: 50%;
}




.blackboard {
  background: #4285f4;
}

.blackboard img {
  width: 100%;
  height: auto;
}

.blackboard.padding {
  margin-left: -1.6rem;
}

.table {
  display: table;
}

.table span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.table span img {
  max-height: 300px;
}

table tr th {
  background: #ffd401;
  color: #111;
}

table.wrong tr th {
  background: #c71300;
  color: #FFF;
}

table.correct tr th {
  background: #7db50d;
  color: #FFF;
}

table img {
  max-height: 100px;
  margin: 10px;
}

li.box:after {
  display: block;
  content: "";
  clear: both;
  height: 0px;
}

.intro h4 {
  color: #31aee3;
}

.intro .yellow h4 {
  color: #333132;
}

.intro .white {
  padding: 1rem;
  text-align: center;
}

ul.wrong {
  list-style: none;
  margin: 1.857rem 0;
  padding: 0;
}

ul.wrong li {
  padding: 0 0 0 2.352rem;
  margin: 0 0 1.529rem 0;
  background: url('../../assets/img/wrong-li.png') no-repeat 0px center;
}

.dark .yellow ul.wrong li {
  background-position: 0px 0px;
}

.screenshot {
  background: #ebecee;
  padding: 2em;
  border-radius: 5px;
  position: relative;
}

.browser-bar {
  display: block;
  position: absolute;
  top: 6px;
  left: 4px;
}

.browser-bar i {
  display: block;
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 2px;
  float: left;
  vertical-align: center;
}

.screenshot img {
  width: 100%;
  height: auto;
  border-radius: 0 0 4px 4px;
}

.optin .screenshot {
  margin-bottom: -320px;
  margin-top: 25px;
  margin-right: -10px;
}

ol {
  counter-reset: item;
  /*list-style: none;*/
  margin: 0;
  font-weight: bold;
  font-size: 1.5em;
}

ol li.box div.columns {
  padding: 2.5em;
}

ol li {
  position: relative;
  margin: 0 0 2.5rem 1em;
}
/*
ol li:nth-last-child(1) {
  margin: 0;
}
*/

/*ol li:before {
  content: counter(item) ".";
  counter-increment: item;
  color: #ffd401;
  font-size: 147px;
  font-weight: bold;
  position: absolute;
  line-height: 120px;
  height: 120px;
  padding: 25px;
  width: 200px;
}

ol li:nth-child(odd):before {
  text-align: right;
  left: -200px;
}

ol li:nth-child(even):before {
  text-align: left;
  right: -200px;
}
*/

.optin h2 span {
  color: #ed0691;
}

.optin .white {
  padding: 2.5rem;
  position: relative;
  border-radius: 5px;
}

.optin.final .white {
  padding: 2.5rem 1.5rem;
}

.optin .white h4 {
  margin-bottom: 2em;
  color: #333132;
}

.optin.final .white h4 {
  margin-bottom: 1em;
}

.optin.final .white p {
  font-size: 1.25em;
  font-family: 'salvo','Helvetica Neue',Helvetica,Arial;
}


.optin form button, .optin .button {
  width: 100%;
  background: #ed0691;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  color: #FFF;
}

.optin form button:hover, .optin .button:hover {
  background: #ffd401;
  color: #000;
}

.optin .book.white {
  padding-left: 10rem;
}

.optin .book img {
  position: absolute;
  height: auto;
  top: 52px;
  left: -174px;
  border-radius: 5px;
}

.ug-ebook {
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.24);
  transform: rotate(-3deg);
  width: 80%;
}

.optin .subp {
  font-size: 1.25em;
  margin-top: 2.5em;
  font-family: 'salvo','Helvetica Neue',Helvetica,Arial;
}

.tweet blockquote {
  background: none;
  margin: 0 auto;
  border: none;
  font-size: 45px;
  text-align: center;
  line-height: 1.3;
  font-weight: normal;
  font-style: italic;
  position: relative;
  font-family: 'Crimson Text', Georgia, serif;
  width: 90%;
}

.tweet blockquote:before {
  display: block;
  content: '\201C';
  font-family: 'salvo','Helvetica Neue',Helvetica,Arial;
  font-weight: bold;
  font-style: normal;
  font-size: 125px;
  position: absolute;
  line-height: 0;
  left: -5px;
  top: 40%;
  z-index: -1;
}

.tweet blockquote:after {
  display: block;
  content: '\201D';
  font-family: 'salvo','Helvetica Neue',Helvetica,Arial;
  font-size: 125px;
  font-weight: bold;
  font-style: normal;
  position: absolute;
  line-height: 0;
  right: 50px;
  bottom: -5%;
  z-index: -1;
}

.yellow.tweet blockquote {
  color: #fff;
  text-shadow: 0 1px #f4a203;
}

.yellow.tweet blockquote:before, .yellow.tweet blockquote:after {
  color: #f4a203;
}

.blue.tweet blockquote {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
}

.blue.tweet blockquote:before, .blue.tweet blockquote:after {
  color: #0386d4;
}

.white.tweet blockquote {
  color: #333132;
}
.white.tweet blockquote:before, .white.tweet blockquote:after {
  color: #d1edf9;
}

.tweet .row {
  margin-bottom: 0;
}

.tweet {
  z-index: 1;
  position: relative;
}

.tweet a.button {
  margin-top: 2em;
  background: #00acee;
  color: #fff;
  font-weight: bold;
}

.tweet a.button:hover {
  background: #00719d;
}

.tweet a.button:before {
  display: inline-block;
  content: '\f099';
  font-family: 'FontAwesome';
  margin-right: 10px;
}

.container .blue.tweet a.button {
  background: #fff;
  color: #00acee;
}

.container .blue.tweet a.button:hover {
  background: #00719d;
  color: #fff;
}

.share-container a.button {
  border-radius: 5px;
  background: #ffd401;
  color: #111;
  font-weight: bold;
}

.share {
  position: fixed;
  bottom: 20px;
  left: 0;
  display: block;
  width: 125px;
  height: inherit;
  padding: 0 0 0 100px;
  line-height: 100px;
  z-index: 11;
}

.share .link-container {
  display: inline-block;
  float: left;
  padding: 40px 30px 20px 0;
  margin: 0 0 0 25px;
  opacity: 0.50;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.share .link-container:hover {
  opacity: 1.0;
}

.share a.button {
  margin: 0 15px 10px 0;
  height: 35px;
  padding: 10px 15px 11px 35px;
  vertical-align: middle;
  float: left;
  clear: left;
  border: 0;
  color: #FFF;
}

.share a.button img {
  max-width: none;
}

.share a.button:last-child {
  margin: 0;
}

.share a.facebook {
  background: #3b5998 url(../../assets/img/share-facebook.png) 5px center no-repeat;
}

.share a.facebook:hover {
  background-color: #263a63;
}

.share a.twitter {
  background: #00aced url(../../assets/img/share-twitter.png) 5px center no-repeat;
}

.share a.twitter:hover {
  background-color: #00709a;
}

.share a.linkedin {
  background: #0274b3 url(../../assets/img/share-linkedin.png) 5px center no-repeat;
}

.share a.linkedin:hover {
  background-color: #014c75;
}

.share a.googleplus {
  background: #d6492f url(../../assets/img/share-googleplus.png) 5px center no-repeat;
}

.share a.googleplus:hover {
  background-color: #802c1c;
}

.share a.email {
  background: #91639f url(../../assets/img/share-email.png) 5px center no-repeat;
}

.share a.email:hover {
  background-color: #65456f;
}

blockquote.twitter {
  padding: 1.25rem;
  border: none;
  border-radius: 5px;
  background: #FFF;
  color: #292f33;
  font-family: normal normal normal 12px/16px "Helvetica Neue",Roboto,"Segoe UI",Calibri,sans-serif;
  margin: 0;
  position: relative;
}

blockquote.twitter:nth-child(odd) {
  margin-bottom: 1rem;
}

blockquote.twitter:before {
  display: inline-block;
  color: #00acee;
  content: '\f099';
  font-size: 30px;
  font-family: 'FontAwesome';
  position: absolute;
  right: 15px;
  top: 10px;
}

blockquote.twitter header p {
  font-size: 14px;
  margin: 0;
  line-height: 18px;
}

blockquote.twitter header p strong {
  color: #1c2022;
  display: block;
}

blockquote.twitter header p rem {
  font-size: 12px;
  color: #697882;
}

blockquote.twitter header img {
  width: 36px;
  height: 36px;
  border-radius: 3px;
  float: left;
  margin-right: 5px;
}

blockquote.twitter p {
  color: #1c2022;
  font-size: 15px;
  margin: 1rem 0;
}

blockquote.twitter footer {
  font-size: 12px;
  color: #697882;
}

.grid .box.white {
  margin-bottom: 2rem;
  position: relative;
}

.grid .box.white img {
  opacity: 0.2;
}

.grid .box.white:hover {
  border-color: #ffd401;
}

.grid .box.white:hover img {
  opacity: 1;
}

.grid .box.white .description {
  display: none;
}

.grid .box.white .description p {
  font-size: 14px;
  color: #000;
  margin: 1rem 1rem 1rem -1rem;
}

.grid .last .box.white .description p {
  margin: 1rem -1rem 1rem 1rem;
}

.grid .box.white:hover .description {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
  top: -1px;
  background: #ffd401;
  color: #FFF;
  z-index: 2;
  padding-left: 1.875rem;
  box-sizing: content-box;
  border: 1px solid #ffd401;
  border-right: 2px solid #ffd401;
}

.grid .last .box.white:hover .description {
  left: auto;
  right: 100%;
  padding-left: 0;
  padding-right: 1.875em;
}

.conversation blockquote {
  font-style: italic;
  margin: 0;
  padding: 1.25rem;
}

.conversation blockquote:nth-child(odd) {
  border-left: 2px solid #d4d4d4;
  background: #ebebeb;
}

.conversation blockquote:nth-child(even), .conversation blockquote.even {
  border-left: none;
  background: #f9f9f9;
}

.gray .conversation blockquote:nth-child(even) {
  background: #FFF;
}

.gray .conversation blockquote.even {
  background: #FFF;
}

.polaroids {
  background: url('../../assets/img/bg-polaroids.jpg') bottom center no-repeat;
  background-size: cover;
}

.polaroid-1 {
  margin-left: 100px;
  margin-top: -40px;
  z-index: 2;
  position: relative;
}

.polaroid-12 {
  margin-left: 100px;
  z-index: 2;
  position: relative;
}

.polaroid-2 {
  z-index: 1;
  position: relative;
  margin-left: -20px;
  margin-top: -85px;
}

.polaroids .arrow {
  position: absolute;
  bottom: -100px;
  right: -40px;
}

.sections .row {
  max-width: 100%; 
  margin-bottom: 0;
  padding: 0 7em;
}

.sections img {
  max-width: 90%;
}

.stack-up {
  margin-top: -9em;
}

.stack-up-2x {
  margin-top: -18em;
  padding-top: 18em;
}

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

.list-sheet {
  box-shadow: none !important;
  border-bottom: 5px solid #999;
}

.list-sheet .row {
  margin-bottom:4em;
}

span.highlight1 {
  background-color: rgba(255,214,0,0.25);
}
  
span.highlight2 {
  background-color: rgba(62,130,247,0.25);
}


p.legend {
  font-style: italic;
  font-size: 1.5em;
}

p.comment {
  background-color: #f5f5f5;
  border: 7px solid #ddd;
  font-family: 'Crimson Text', Georgia, serif;
  font-style: italic;
  padding: 1em;
  position: relative;
}

p.comment.arrow-up:before {
  content: "";
  position: absolute;
  top: -21px;   
  margin-top: -15px;        
  left:50%;
  border: solid 15px transparent;
  border-bottom-color: #ddd;
  z-index: 1;
}

.top-cutout {
  margin-top: -10em;
  margin-bottom: 3em;
}

.top-cutout2 {
  margin-top: -8em;
  margin-bottom: 3em;
}

.expert h2 {
  font-size: 50px;
  line-height: 1.6;
  color: #575151;
}

.expert h4.subheadline {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 5em;
  margin-top: 0;
}

.expert h4 {
  margin-top: 5rem;
}
  
.third-person {
  font-style: italic;
  color: #575151;
}

.third-person h4 {
  font-style: italic;
  font-size: 30px;
  font-family: 'Crimson Text', Georgia, serif;
  color: #575151;
}

.cta p {
  font-family: 'salvo','Helvetica Neue',Helvetica,Arial;
  color: #575151;
} 

.cta a.button {
  font-size: 1.2em;
}

.cta a.button.equalized {
  margin-top: 2em;
}

p.disclaimer {
  font-family: 'salvo','Helvetica Neue',Helvetica,Arial;
  font-size: 14px;
  font-weight: 200;
  color: #333;
  line-height: 21px;
}

@media only screen and (min-width: 1441px) { 
    .left-large {
        float: left;
     }
}
@media only screen and (max-width: 1441px) and (min-width: 768px) {
    .left-large {
        float: left;
     }
}


@media only screen and (max-width: 769px) {
    .navigation {
        position: absolute;
        top: 0;
        right: 0;
        bottom: inherit;
        left: 0;
        width: 100%;
        height: 50px;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
    }

    .navigation .background {
        display: none;
    }

    .navigation.opened {
        height: inherit;
        width: inherit;
    }

    .navigation.closed {
        height: 50px;
        width: inherit;
    }

    .navigation ul.menu li .part {
        font-size: 35px;
        width: 50px;
        border: 0;
        line-height: 50px;
    }

    .navigation ul.menu li .title {
        left: 50px;
        opacity: 1.0;
    }

    .navigation ul.menu li .title h3 {
        display: none;
    }

    .navigation ul.menu li .title h4 {
        line-height: 50px;
        font-size: 20px;
    }

    .navigation ul.menu.top {
        display: none;
    }

    .navigation ul.menu.mobile-top {
        display: inherit;
    }

    .navigation ul.menu.mobile-top .part {
        line-height: 0;
    }

    .navigation ul.menu.mobile-top .title h4 {
        line-height: 50px;
    }

    .navigation ul.menu.mobile-top li .title img {
        height: 20px;
        vertical-align: middle;
    }

    .navigation.opened ul.menu.mobile-top li.current {
        display: none;
    }

    .navigation.closed ul.menu.mobile-top li.current {
        display: inherit;
    }

    .navigation ul.menu.bottom {
        display: none;
    }

    .navigation ul.menu ol.submenu.show {
        ;padding: 0 0 20px 60px;
    }

    .row:first-child {
        padding-top: 35px;
    }

    .chapter {
        padding: 0;
    }

    .share {
        position: fixed;
        width: 100%;
        height: 55px;
        padding: 0;
        text-align: center;
        bottom: 0;
        left: 0;
        margin: 0;
    }

    .share .link-container {
        display: block;
        float: none;
        padding: 0;
        margin: 0;
        opacity: 1.0;
        height: 55px;
    }

    .share a.button {
        display: inline-block;
        float: left;
        clear: none;
        margin: 0;
        border-radius: 0;
        height: 55px;
        padding: 30px 0 0 0;
        width: 20%;
        font-size: 12px;
    }

    .share a.facebook {
        background: #3b5998 url(../../assets/img/share-facebook.png) center 7px no-repeat;
    }

    .share a.twitter {
        background: #00aced url(../../assets/img/share-twitter.png) center 7px no-repeat;
    }

    .share a.linkedin {
        background: #0274b3 url(../../assets/img/share-linkedin.png) center 7px no-repeat;
    }

    .share a.googleplus {
        background: #d6492f url(../../assets/img/share-googleplus.png) center 7px no-repeat;
    }

    .share a.email {
        background: #91639f url(../../assets/img/share-email.png) center 7px no-repeat;
    }

    .alert.alert-error {
        top: 0;
        left: 0;
        width: 90%;
        margin: 60px 5% 0 5%;
        line-height: 20px;
        font-size: 14px;
    }

    .callout {
        padding: 40px 20px;
    }

    .blue .screenshot {
        margin: 0;
    }

    .grid .box.white:hover .description, .grid .last .box.white:hover .description {
        left: 0;
        top: 0;
        padding: 0;
    }

    .grid .box.white:hover .description p, .grid .last .box.white:hover .description p {
        margin: 1rem;
    }

    .grid .box.white img {
        max-height: 130px;
    }

    .arrow {
        display: none
    }

    #contents {
        padding: 0;
    }

    img.hero {
      max-width: 50%;
      position: relative;
    }

    #part3-hero,
    #part4-hero, 
    #part5-hero,
    #part6-hero,
    #part7-hero {
      margin: 2em auto;
    }


}

@media only screen and (max-width: 767px) {
    .chapter {
        padding: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }

    .chapter h1 {
        font-size: 36px;
        line-height: 41px;
    }

    .chapter .intro h1 span {
        font-size: 30px;
        display: block;
    }

    .chapter h2 {
        font-size: 26px;
    }

    .chapter h3 {
        font-size: 24px;
    }

    .chapter h4 {
        font-size: 24px;
    }

    .navigation ul.menu li .title h4, .navigation ul.menu li .title h3 {
        text-align: left;
    }

    .navigation ul.menu li .title {
        width: inherit;
    }

    .navigation ul.menu.mobile-top li .title img {
        height: inherit;
        padding-right: 30px;
    }

    h1.quote {
        font-size: 25px;
        line-height: 1.75rem;
    }

    .container img {
        width: auto;
    }

    ul li {
        list-style-type: none;
    }

    br {
        display: none;
    }

    form .button.big {
        position: relative !important;
        width: 100% !important;
        margin: 0px !important;
    }

    .part-picker {
        margin-bottom: 1rem;
    }

    .four.columns .button.big {
        font-size: 16px;
    }

    .container {
        padding: 1em 0
    }

    .contents img {
        max-height: 140px;
        width: auto;
    }

    .sections .row {
      padding: 0;
    }

    .contents div {
        margin-bottom: 2.5em
    }

    .contents div:nth-last-child(1) {
        margin-bottom: 0;
    }

    .contents div.white.box:nth-last-child(1) {
        margin-bottom: 2.5em
    }

    ol li:before {
        display: none;
    }

    .polaroid-1, .polaroid-2, .polaroids, .stack-up, .stack-up-2x, .top-cutout, .top-cutout2 {
        margin: 0;
    }

    .stack-up-2x {
        padding-top: 0;
    }

    .white.box, .white.box.teardown {
        padding: 1em;
    }

    .row, .row .row {
        margin-bottom: 1em;
    }

    .yellow, ol li.box div.columns {
        padding: 1.5em
    }

    .screenshot {
        margin-bottom: 1em;
    }
    .intro h1 span {
      margin-bottom: .5em;
      line-height: 1.2;
    }
    .chapter h4 {
      line-height: 1.4;
      margin-bottom: 1em;
    }
}

@media only screen and (max-width: 700px) {
    .navigation ul.menu li .title.copy-heavy h4 {
        line-height: 21px;
        width: 80%;
        padding-top: 2px;
        font-size: 18px;
    }

    .optin .book.white {
        padding: 2rem;
        margin-left: 1em;
        margin-right: 1em;
        width: 90%;
    }

    .optin .book.white img {
        display: none;
    }

    .blackboard.padding {
        margin: 0;
        padding: 2em;
    }
    .chapter p.remark-text-left {
      float: none;
      margin-left: 0;
      width: 100%;
      margin-bottom: .5em;
      text-align: center;
    }

    .ramit img {
      border-radius: 100%;
      background: #f8fbfc;
    }

    .ramit {
      background: #f8f8f8;
    }

    .white.box img {
        max-height: 100px;
    }

    img.pin { 
        max-height: 150px !important;
        margin: -4em auto 2em;
    }

    .white.box, blockquote.twitter, .conversation blockquote:nth-last-child(1) {
        margin-bottom: 1.5em;
    }

    #contents .white.box img, .white.box img.mobile-big {
        max-height: 300px;
    }

    table.wrong img, table.correct img {
        width: auto;
        height: auto;
        display: block;
    }

    .illustrated { 
      background: #f7f7f7 url("../../assets/img/photo-bg.png") no-repeat scroll center center / cover;
    }

    #intro-hero {
      visibility: visible;
    }


}

