.panel-wrapper {

width: 75%;
margin: 100px auto;
}

.video-overlay .validate_name, .video-overlay .validate_email {display: inline;}

.input_warning {
  border: solid 1px #ff0000 !important;
  background-color: #f2dede;
  color: solid 1px #ff0000 !important;
  margin-bottom: 35px !important;
}

.input_invalid {
  border: solid 1px #ff0000 !important;
  background-color: #f2dede;
  color: solid 1px #ff0000 !important;
  margin-bottom: 35px !important;
}

input.email.input_valid {
    /* background: #f9f9f9 url("checkmark_valid.png") no-repeat;
    background-position: 95% center; */
}

input.email.input_invalid {
    background: #f9f9f9 url("/img/common/checkmark_invalid.png") no-repeat;
    background-position: 95% center;
}

input[type="email"]:focus.input_invalid {
    outline: none;
    box-shadow: 0px 0px 4px 0px rgba(255,0,0,0.75) !important;
}

input[type="email"]:focus.input_valid {
    outline: none;
    box-shadow: 0px 0px 4px 0px rgba(141,146,141,0.75) !important;
}

.input_valid {
  border: solid 1px #8D928D !important;
  background-color: #f2dede;
  color: solid 1px #8D928D !important;
  margin-bottom: 0px !important;
}
.invalid .input_valid {
  margin-bottom: 35px !important;
}

.validate_email, .validate_name {
  position: relative;
}

.validate_email .email_warning, .validate_name .email_warning {
  display: none;
}

.validate_email.invalid .email_warning, .validate_name.invalid .email_warning {
  display: block;
  box-sizing: border-box;
}
.validate_email.invalid {
  padding-bottom: 3px;
}

.email_warning {
position: absolute;
bottom: 5px;
/* border: solid 1px #ff0000 !important;
background: rgba(255,0,0,0.5) !important; */
color: #a94442;
background-color: #f2dede;
border: 1px solid #ebccd1;
padding: .3125em 10px;
font-weight: bold;
font-size: 0.9em;
width: 100%;
text-align: center;
max-height: 32px;
overflow-x: hidden;
overflow-y: auto;
}

.email_warning_modal {
  height: 100%; width: 100%; position: fixed; left: 0px; top: 0px; z-index: 2999;
  background: rgba(0,0,0,0.75);
}
.email_warning_modal_dialog {
z-index: 3000;
display: block;
width: 75%;
margin: 50px auto;
height: 225px;
border: #000;
border-radius: 3px;
background: #fff;
color: #000;
text-align: center;
}

.email_warning_modal_dialog p {
  display: block;
  margin: 25px auto;
  width: 90%;
  padding-top: 25px;
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: normal;
}
.email_warning_modal_dialog p b {
  font-weight: 700;
}

.email_btn_wrapper {
  width: 75%;
  clear: both;
  height: 50px;
  /* border: 1px solid red;*/
  margin: 0 auto;
}

.email_btn {
  display: inline-block;
  border: none;
    background: #e84f4f;
    box-shadow: 0px 3px 0px 0px #a94442;
    font-size: 1em;
    font-weight: bold;
    color: #333;
    border-radius: 2px;
    padding: .75em;
    cursor: pointer;
    margin-left: 1em;
}

.email_btn.confirmed_as_valid {
  background-color: #ffd401;
  box-shadow: 0px 3px 0px 0px #ccaa01;
}

@media all and (max-width: 30em) {
  .email_warning_modal_dialog { height: 300px; }
  .email_warning_modal_dialog p {font-size: 1.3em; }
  .email_btn {margin-top: 1em;}
}
